*, *::before, *::after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}

body{
    background: #eeeeee;
}

#containerFull {
    width: 560px;
    margin: 0 auto;
}

.img{
    width: 300px;
    height: 275px;
}

.rowT {
    clear: both;
}

.rowT div {
    font-size: 3em;
    float: left;
    width: 70px;
    height: 70px;
    border-left: 1.5px solid #ff8c00;
    border-right: 1.5px solid #ff8c00;
    border-bottom: 1.5px solid #ff8c00;
    border-top: 1.5px solid #ff8c00;
    text-align: center;
}


.line-1 div:nth-child(n)  {
    background: #008e97;
    color: #fff;
}

.line-2 div:nth-child(n)  {
    background: #008e97;
    color: #fff;
}

h2{
    font-family: Roboto;
    text-align: center;
    padding: 10px;
    color: #FF4500;
}

h4{
    font-family: 'ABeeZee';
    text-align: center;
}
#cabecalho{
    height: 60px;
    background: #4682B4;
    margin-bottom: 20px;
}

.formato-button{
    margin: 0 auto;
    text-align: center;
}

.corButton{
    background: #008e97;
    border: #008e97;
}

.corButton:hover{
    background: #68ccd3f6;
    border: #68ccd3f6;
}

.cor-button-jogar{
    margin-top: 20px;
    width: 250px;
    height: 50px;
    background: #ff8c00;
    border: #ff8c00;
}

.cor-button-jogar:hover{
    background: #f0af60;
    border: #f0af60;
}

.modal-paginaPrincipal{
    background:#fff;
	padding: 30px;
	margin: 50px auto 0 auto;
	width: 40%;
}

.formato-ia{
    margin-top: 20px;
    text-align: center;
}

.formato-versus{
    margin-top: 30px;
    text-align: center;
}

.formato-users{
    margin-top:20px;
    text-align: center;
}

.container-cabecalho{
    margin: 0 auto;
    /* border:1px solid red; */
    padding-bottom: 10px;
}

@media only screen and (max-width: 600px) {
    
    .modal-paginaPrincipal{
        background:#fff;
        padding: 30px;
        margin: 50px auto 0 auto;
        width: 70%;
    }
}