*, *::before, *::after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}

#containerFull {
    width: 560px;
    margin: 0 auto;
}
#container-index{
    width: 300px;
    margin: 0 auto; 
}

.img{
    width: 300px;
    height: 275px;
}

#container-index .img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#container-conteudo{
    width: 400px;
    margin: 0 auto;
}
.rowT {
    clear: both;
}

.rowT div {
    font-size: 3em;
    float: left;
    width: 70px;
    height: 70px;
    border-left: 1px solid #4682B4;
    border-right: 1px solid #4682B4;
    border-bottom: 1px solid #4682B4;
    border-top: 1px solid #4682B4;
    text-align: center;
}


.line-1 div:nth-child(n)  {
    background: #B0C4DE;
    //color: #B0C4DE;
}

.line-2 div:nth-child(n)  {
    background: #B0C4DE;
    //color: #B0C4DE;
}

h2{
    font-family: Roboto;
    text-align: center;
    padding: 10px;
    color: #FF4500;
}

h4{
    text-align: center;
}
#cabecalho{
    height: 60px;
    background: #4682B4;
    margin-bottom: 20px;
}

.posicaoNivel{
    display: block;
    margin: 0 auto;
}

.corButton{
    background: #4682B4;
    border: #4682B4;
}

.corButton:hover{
    background: #B0C4DE;
    border: #B0C4DE;
}

.formato-index{
    border: 1px solid #4682B4;
}